<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<div class="content">
			<div class="card card-default">
				<div class="card-body">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="width-100">No.</th>
                <th scope="col" class="width-300">Email</th>
                <th scope="col" class="width-300">Nickname</th>
                <th scope="col" class="width-200">Join Date</th>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${lists.isEmpty()}">
                <td colspan="4" align="center">회원이 존재하지 않습니다.</td>
              </tr>
              <tr th:each="dto : ${lists}">
                <td scope="row" th:text="${dto.memberId}">Id</td>
                <td>
                  <a class="btn btn-link px-0 py-0 text-transform-none" th:href="@{|/admin/board-list?boardCategory=QnA&memberId=${dto.memberId}|}" th:text="${dto.email}">Email</a>
                </td>
                <td th:text="${dto.nickname}">Nickname</td>
                <td th:text="${#temporals.format(dto.joinDate, 'yyyy-MM-dd')}">JoinDate</td>
              </tr>
            </tbody>
          </table>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
