<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<div class="content">
			<div class="card card-default">
				<div class="card-body">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Hits</th>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${lists.isEmpty()}">
                  <td colspan="4" align="center">글이 존재하지 않습니다.</td>
              </tr>
              <tr th:each="dto : ${lists}">
                <td scope="row" th:text="${dto.boardId}">Id</td>
                <td>
                  <a class="btn btn-link text-transform-none px-0 py-0" th:href="@{|/admin/board-detail?boardId=${dto.boardId}|}" th:text="${dto.boardTitle }">Title</a>
                </td>
                <td th:text="${#temporals.format(dto.boardCreate, 'yyyy-MM-dd HH:mm')}">Create</td>
                <td th:text="${dto.boardHits}">Hits</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end mt-6">
            <button class="btn btn-outline-brown mb-2" type="button" th:onclick="|location.href='@{|/admin/board-write?boardCategory=${boardCategory}|}';|">글 작성</button>
          </div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
