<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_user_ver1">

<th:block layout:fragment="content">

  <div class="routine-image">
    <img src="https://item.kakaocdn.net/do/1ecd3943d11143c132dbca3cbddf267e617ea012db208c18f6e83b1a90a7baa7" style="width: 100pt;">
    <p class="routine-image-text">접근할 수 없는 페이지입니다.</p>
  </div>

  <div class="routine-btn-wrap">
    <button type="button" class="btn btn-block routine-btn routine-btn-first"
            onclick="history.back()">돌아가기
    </button>
  </div>

</th:block>

</html>