<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_user_ver1">

<th:block layout:fragment="content">

  <div class="routine-image">
    <img src="https://item.kakaocdn.net/do/376c38817123f596b1ace9c8aad794e07e6f47a71c79378b48860ead6a12bf11" style="width: 100pt;">
    <p class="routine-image-text">접근할 수 없는 페이지입니다.</p>
  </div>

  <div class="routine-btn-wrap routine-deny">
    <button type="button" class="btn routine-btn routine-btn-first"
            onclick="history.back()">돌아가기
    </button>
  </div>

</th:block>

</html>