<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_user">

<th:block layout:fragment="content">

    <!-- body -->
    <div class="card-body px-5 pb-5 pt-0 card-body-routine">

        <h4 class="text-dark text-center mb-5">비밀번호 재설정</h4>

        <form th:action="@{resetPwd}" th:object="${memberLoginDTO}" method="post">
            <div class="row row-routine">

                <!-- 입력 -->
                <div class="form-group col-md-12 mb-4 mb_routine">
                    <div>
                        <input type="text" class="form-control input-lg input_routine" id="email" name="email"
                               th:field="*{email}" th:errorclass="fieldErrors" placeholder="이메일 주소">
                    </div>
                    <div class="error_routine" th:errors="*{email}"></div>
                </div>
                <div class="form-group col-md-12 mb-4 mb_routine">
                    <div>
                        <input type="text" class="form-control input-lg input_routine" id="birth" name="birth"
                               th:field="*{birth}" th:errorclass="fieldErrors" placeholder="생년월일">
                    </div>
                    <div class="fieldError error_routine" th:errors="*{birth}"></div>
                </div>

                <!-- 버튼 -->
                <div class="col-md-12 col-routine-2">
                    <button type="submit" class="btn btn-primary btn-pill mb-4 btn-routine">재설정 하기</button>
                </div>
            </div>
        </form>
    </div>

</th:block>

</html>