<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_user">

<th:block layout:fragment="content">

    <!-- body -->
    <div class="card-body px-5 pb-5 pt-0 card-body-routine">

        <h4 class="text-dark text-center mb-5">회원가입</h4>

        <form th:action="@{/mypage/join}" th:object="${memberJoinDTO}" method="post">
            <div class="row">

                <!-- 입력 -->
                <div class="form-group col-md-12 mb-4 mb_routine">
                    <div>
                        <input type="text" class="form-control input-lg input_routine" id="email" name="email"
                               th:field="*{email}" th:errorclass="fieldErrors" placeholder="이메일 주소">
                    </div>
                    <div class="error_routine" th:errors="*{email}"></div>
                </div>
                <div class="form-group col-md-12 mb-4 mb_routine">
                    <div>
                        <input type="password" class="form-control input-lg input_routine" id="pwd" name="pwd"
                               th:field="*{pwd}" th:errorclass="fieldErrors" placeholder="비밀번호">
                    </div>
                    <div class="error_routine" th:errors="*{pwd}"></div>
                </div>
                <div class="form-group col-md-12 mb_routine">
                    <div>
                        <input type="password" class="form-control input-lg input_routine" id="pwd2" name="pwd2"
                               th:field="*{pwd2}" th:errorclass="fieldErrors" placeholder="비밀번호 확인">
                    </div>
                    <div class="error_routine" th:errors="*{pwd2}"></div>
                </div>
                <div class="form-group col-md-12 mb_routine">
                    <div>
                        <input type="text" class="form-control input-lg input_routine" id="nickname" name="nickname"
                               th:field="*{nickname}" th:errorclass="fieldErrors" placeholder="닉네임">
                    </div>
                    <div class="error_routine" th:errors="*{nickname}"></div>
                </div>
                <div class="form-group col-md-12 mb-4 mb_routine">
                    <div>
                        <input type="text" class="form-control input-lg input_routine" id="gender" name="gender"
                               th:field="*{gender}" th:errorclass="fieldErrors" placeholder="성별">
                    </div>
                    <div class="error_routine" th:errors="*{gender}"></div>
                </div>
                <div class="form-group col-md-12 mb-4 mb_routine">
                    <div>
                        <input type="text" class="form-control input-lg input_routine" id="birth" name="birth"
                               th:field="*{birth}" th:errorclass="fieldErrors" placeholder="생년월일">
                    </div>
                    <div class="fieldError error_routine" th:errors="*{birth}"></div>
                </div>

                <!-- 버튼 -->
                <div class="col-md-12 col-routine-2">
                    <button type="submit" class="btn btn-primary btn-pill mb-4 btn-routine">가입하기</button>
                </div>

                <!-- 하단 링크 -->
                <div>
                    <div class="bottom-routine">
                        <a href="/mypage/login" class="a-routine a-bottom-routine">로그인</a>
                    </div>
                </div>

            </div>
        </form>

    </div>

</th:block>

</html>