<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>User Layout</title>

    <!-- 각 페이지의 script 작성 위치 -->
    <th:block layout:fragment="script"></th:block>
    <!-- 각 페이지의 css 작성 위치 -->
    <th:block layout:fragment="css"></th:block>

</head>
<body>

<!-- header -->
<!--<div th:replace="layout/header_user::header"></div>-->
<th:block th:replace="layout/header_user::header"></th:block>

<!-- content -->
<!--<div layout:fragment="content" class="content"></div>-->
<th:block layout:fragment="content"></th:block>

<!-- navi -->
<!--<div th:replace="layout/navbar_user::navbar"></div>-->
<th:block th:replace="layout/navbar_user::navbar"></th:block>

</body>
</html>