server:
  port: 8090
  servlet:
    encoding:
      force: true
      charset: UTF-8
    session:
      setMaxInactiveInterval: 1800 # 세션 타임아웃 : 30분(1800초)


spring:
#  h2:
#    console: true
#    path: /h2-console
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    jdbc-url: jdbc:mysql://localhost:3306/harugom?serverTimezone=Asia/Seoul
    username: harugom
    password: a123
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:~/routine
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
#        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        show_sql: true
  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    cache: false
  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true

mybatis:
  mapper-locations: mapper/*.xml
  type-aliases-package: com.soo.routine.mapper
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

