server:
  port: 8090

spring:
  h2:
    console: true
    path: /h2-console
  datasource:
#    username: routine
#    password: a123
#    driver-class-name: com.mysql.cj.jdbc.Driver
    username: sa
    password:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/routine

