<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<div class="content">
			<div class="card card-default">
				<div class="card-body">
					<form th:action="@{/admin/mission-edit}" method="post" th:object="${missionRecommendEditDTO}">
						<input type="hidden" name="missionId" th:value="${missionRecommendEditDTO.missionId}"/>
						<div class="row">
							<!-- name -->
							<div class="col-lg-6">
								<div class="form-group mb-4">
									<label for="missionName">미션명</label>
									<div th:each="err : ${#fields.errors('missionName')}" class="error-message" th:text="${err}"></div>
									<input type="text" class="form-control" th:field="*{missionName}">
								</div>
							</div>
							<!-- icon -->
							<div class="col-lg-6">
								<div class="form-group mb-4">
									<div class="form-group icon-group" data-toggle="modal" data-target="#missionListModal">
										<div class="row">
											<div class="col-4">
												<label for="missionIconId">아이콘 </label>
												<input type="hidden" th:field="*{missionIconId}"/>
												<div class="btn display-block px-0"><span class="mdi mdi-triangle mdi-rotate-90"></span>아이콘 선택</div>
											</div>
											<div class="col-8 text-align-left">
												<img th:src="@{|/img/icon/*{iconPath}/*{iconFileName}|}" id="iconSrc">
												<div th:each="err : ${#fields.errors('missionIconId')}" class="error-message display-block" th:text="${err}"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- runTime -->
						<div class="form-group mb-4">
							<label for="runTime">소요시간</label>
							<div th:each="err : ${#fields.errors('runTime')}" class="error-message" th:text="${err}"></div>
							<input type="text" class="form-control" id="runTime" name="runTime" th:value="${missionRecommendEditDTO.runTime}">
						</div>
						<!-- content -->
						<div class="form-group mb-4">
							<label for="missionContent">내용</label>
							<textarea class="form-control min-px-250" th:field="*{missionContent}"></textarea>
						</div>
						<!-- button -->
						<div class="d-flex justify-content-between mt-4">
							<button class="btn btn-outline-brown mb-2" type="button" th:onclick="|location.href='@{/admin/mission-list}';|">목록</button>
							<button class="btn btn-outline-brown mb-2" type="submit">수정</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:replace="layout/modal/modal_missionList :: modal"></th:block>
	
</th:block>
	
<!-- script -->
<th:block layout:fragment="script">
	<script src="/js/admin/mission_edit.js"></script>
</th:block>

</html>
