<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<div class="content">
			<!-- mission -->
			<div class="card card-default">
				<div class="card-body">
					<table class="table">
						<thead class="thead-light">
							<tr>
								<th scope="col" class="width-50">No.</th>
								<th scope="col" class="width-50">Icon</th>
								<th scope="col">Name</th>
								<th scope="col" class="width-150">Run Time</th>
								<th scope="col">Content</th>
								<th scope="col"class="text-center width-115">Edit/Del</th>
							</tr>
						</thead>
						<tbody id="missionList">
							<!-- mission list -->
							<tr th:if="${lists.isEmpty()}">
								<td colspan="5" align="center">추천 미션이 존재하지 않습니다.</td>
							</tr>
							<tr th:each="dto, loop : ${lists}">
								<td scope="row" th:text="${lists.totalElements - (lists.number * lists.size) - loop.index}">No</td>
								<td>
									<img th:src="@{|/img/icon/${dto.iconPath}/${dto.iconFileName}|}" class="width-50"/>
								</td>
								<td th:text="${dto.missionName}"></td>
								<td th:text="${#temporals.format(dto.runTime, 'HH:mm')}"></td>
								<td th:text="${dto.missionContent}"></td>
								<td>
									<div class="btn-group" role="group" aria-label="Basic example">
										<button type="button" class="btn btn-sm btn-outline-primary px-2"
										        th:onclick="|location.href='@{|/admin/mission-edit?missionId=${dto.missionId}|}'|">수정</button>
										<button type="button" class="btn btn-sm btn-outline-primary px-2"
										        th:onclick="|confirm('정말 삭제하시겠습니까?') ? location.href='@{|/admin/mission-delete?missionId=${dto.missionId}|}' : false|">삭제</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- button -->
					<div class="d-flex justify-content-end mt-6">
						<button class="btn btn-outline-brown mb-2" type="button" th:onclick="|location.href='@{/admin/mission-add}';|">미션 추가</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>
