<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<div class="content">
			<!-- mission -->
			<div class="card card-default">
				<div class="card-body">
					<table class="table">
						<thead class="thead-light">
							<tr>
								<th scope="col" class="width-50">No.</th>
								<th scope="col" class="width-50">Icon</th>
								<th scope="col">Name</th>
								<th scope="col" class="width-150">Run Time</th>
								<th scope="col">Content</th>
								<th scope="col"class="text-center width-115">Edit/Del</th>
							</tr>
						</thead>
						<tbody id="missionList">
							<!-- mission list -->
							<tr th:if="${lists.isEmpty()}">
								<td colspan="5" align="center">추천 미션이 존재하지 않습니다.</td>
							</tr>
							<tr th:each="dto, loop : ${lists}">
								<td scope="row" th:text="${lists.totalElements - (lists.number * lists.size) - loop.index}">No</td>
								<td>
									<img th:src="@{|/img/icon/${dto.iconPath}/${dto.iconFileName}|}" class="width-50"/>
								</td>
								<td th:text="${dto.missionName}"></td>
								<td th:text="${#temporals.format(dto.runTime, 'HH:mm')}"></td>
								<td th:text="${dto.missionContent}"></td>
								<td>
									<div class="btn-group" role="group" aria-label="Basic example">
										<button type="button" class="btn btn-sm btn-outline-primary px-2"
										        th:onclick="|location.href='@{|/admin/mission-edit?missionId=${dto.missionId}|}'|">수정</button>
										<button type="button" class="btn btn-sm btn-outline-primary px-2"
										        th:onclick="|confirm('정말 삭제하시겠습니까?') ? location.href='@{|/admin/mission-delete?missionId=${dto.missionId}|}' : false|">삭제</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<nav th:if="${!lists.isEmpty()}" arial-label="Page navigation">
						<ul class="pagination justify-content-center pagination-sm"
								th:with="startNumber = ${lists.number / 10} * 10 + 1, endNumber = (${lists.totalPages} > ${startNumber + 9}) ? ${startNumber + 9} : ${lists.totalPages}">
							<!-- << -->
							<li><a class="page-link" th:href="@{|?page=1|}">&laquo;</a></li>
							<!-- < -->
							<li class="page-item" th:style="${lists.first} ? 'display:none'">
								<!-- <a class="page-link" th:href="@{/question/list(page = ${paging.number})}">&lsaquo;</a> -->
								<a class="page-link" th:href="@{|?page=${lists.number}|}">&lsaquo;</a>
							</li>
							<li class="page-item" th:each="page : ${#numbers.sequence(startNumber, endNumber)}" th:classappend="(${page} == ${lists.number + 1}) ? 'active' : null">
								<a class="page-link" th:href="@{|?page=${page}|}" th:text="${page}"></a>
							</li>
							<!-- > -->
							<li class="page-item" th:style="${lists.last} ? 'display:none'">
								<a class="page-link" th:href="@{|?page=${lists.number + 2}|}">&rsaquo;</a>
							</li>
							<!-- >> -->
							<li><a class="page-link" th:href="@{|?page=${lists.totalPages}|}">&raquo;</a></li>
						</ul>
					</nav>

					<!-- button -->
					<div class="d-flex justify-content-end">
						<button class="btn btn-outline-brown mb-2" type="button" th:onclick="|location.href='@{/admin/mission-add}';|">미션 추가</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>
