<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<div class="content">
			
			<div class="card card-default">
				<div class="card-body">
					<form th:action="@{/admin/routine-edit}" method="post" name="routineForm" th:object="${routineRecommendEditDTO}">
						<input type="hidden" th:field="*{routineId}"/>
						<div class="row">
							<!-- memberId -->
							<div class="col-lg-6">
								<div class="form-group">
									<label for="memberNickname">닉네임</label>
									<input type="hidden" class="form-control" th:field="*{memberId}">
									<input type="text" class="form-control" th:field="*{memberNickname}" readonly>
								</div>
							</div>
							<!-- totalTime -->
							<div class="col-lg-3">
								<div class="form-group">
									<label for="totalTime">전체시간</label>
									<input type="text" class="form-control" th:field="*{totalTime}" readonly>
								</div>
							</div>
							<!-- routineActive -->
							<div class="col-lg-3">
								<div class="form-group mt-6">
									<label for="routineActive">활성화</label>
									<div th:each="err : ${#fields.errors('routineActive')}" class="error-message" th:text="${err}"></div>
									<label class="switch switch-icon switch-primary form-control-label">
										<input type="checkbox" class="switch-input form-check-input" id="switch-active" value="true" checked>
										<input type="hidden" th:field="*{routineActive}">
										<span class="switch-label"></span>
										<span class="switch-handle"></span>
									</label>
								</div>
							</div>
						</div>
						<!-- routineName -->
						<div class="form-group mb-4">
							<label for="routineName">루틴명<span class="red">*</span></label>
							<div class="error-message hide" id="routineName-error">루틴명을 입력해주세요.</div>
							<div th:each="err : ${#fields.errors('routineName')}" class="error-message" th:text="${err}"></div>
							<input type="text" class="form-control" th:field="*{routineName}">
						</div>
						<!-- mission list -->
						<div class="form-group mb-4">
							<input type="hidden" name="missionIconId"/>
							<input type="hidden" name="missionName">
							<input type="hidden" name="runTime">
							<input type="hidden" name="missionContent">
							<table class="table">
								<thead class="thead-light">
								<tr>
									<th scope="col" class="text-center th-width-50">icon<span class="red">*</span></th>
									<th scope="col">name<span class="red">*</span></th>
									<th scope="col">runTime<span class="red">*</span></th>
									<th scope="col">content</th>
									<th scope="col" class="text-center width-115">imp/del</th>
								</tr>
								</thead>
								<tbody id="missionList">
									<tr th:each="mission, i : ${routineRecommendEditDTO.missionList}">
										<td>
											<input type="hidden" id="missionId" name="missionId" th:value="${mission.id}"/>
											<div class="form-group icon-group mb-0" data-toggle="modal" data-target="#missionListModal">
												<input type="hidden" id="missionIconId" name="missionIconId" th:value="${mission.missionIcon.id}"/>
												<img th:src="@{|/img/icon/${mission.missionIcon.IconCategory.iconPath}/${mission.missionIcon.iconFileName}|}" id="iconSrc">
											</div>
										</td>
										<td><input type="text" class="form-control" id="missionName" name="missionName" th:value="${mission.missionName}"></td>
										<td><input type="text" class="form-control" id="runTime" name="runTime" th:value="${mission.runTime}"
										           th:onclick="|saveTime(${i.index})|" th:onblur="|checkTime(${i.index})|" ></td>
										<td><input type="text" class="form-control" id="missionContent" name="missionContent" th:value="${mission.missionContent}"></td>
										<td>
											<div class="btn-group" role="group" aria-label="Basic example">
												<button type="button" class="btn btn-sm btn-outline-primary px-2">미션</button>
												<button type="button" class="btn btn-sm btn-outline-primary px-2 removeButton">삭제</button>
											</div>
										</td>
									</tr>
								</tbody>
								<tfoot>
								<tr>
									<td colspan="5" class="text-center">
										<button type="button" id="addButton" class="btn btn-block btn-outline-primary">미션 추가하기</button>
									</td>
								</tr>
								</tfoot>
							</table>
						</div>
						<!-- button -->
						<div class="d-flex justify-content-between mt-6">
							<button class="btn btn-outline-brown mb-2" type="button" th:onclick="|location.href='@{|/admin/routine-list|}';|" >목록</button>
							<button class="btn btn-outline-brown mb-2" type="button" id="submitButton">완료</button>
						</div>
					</form>
				</div>
			</div>
		
		</div>
	</div>
	
	<th:block th:replace="layout/modal/modal_missionList :: modal"></th:block>
	
</th:block>

<th:block layout:fragment="script">
	<script src="/js/admin/routine_edit.js"></script>
</th:block>

</html>
