<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<div class="content">
			<!-- routine -->
			<div class="card card-default">
				<div class="card-body">
					<table class="table">
						<thead class="thead-light">
							<tr>
								<th scope="col">No.</th>
								<th scope="col">Name</th>
								<th scope="col">Mission Count</th>
								<th scope="col">Total Time</th>
								<th scope="col">Active</th>
							</tr>
						</thead>
						<tbody>
							<!-- routine list -->
							<tr th:if="${lists.isEmpty()}">
								<td colspan="5" align="center">추천 루틴이 존재하지 않습니다.</td>
							</tr>
							<tr th:each="dto : ${lists}">
								<td scope="row" th:text="${dto.routineId}">Id</td>
								<td>
									<a class="btn btn-link text-transform-none px-0 py-0" th:href="@{|/admin/routine-detail?routineId=${dto.routineId}|}" th:text="${dto.routineName}">Name</a>
								</td>
								<td th:text="${#lists.size(dto.missionList)}">MissionCount</td>
								<td th:text="${#temporals.format(dto.totalTime, 'HH:mm:ss')}">TotalTime</td>
								<td th:text="${dto.routineActive}">Active</td>
							</tr>
						</tbody>
					</table>
					<!-- button -->
					<div class="d-flex justify-content-end mt-6">
						<button class="btn btn-outline-brown mb-2" onclick="location.href='/admin/routine-add';">루틴 추가</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
