<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<th:block th:fragment="header">-->
		<header th:fragment="header" class="main-header" id="header">
			<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
				<!-- Sidebar toggle button -->
				<button id="sidebar-toggler" class="sidebar-toggle">
					<span class="sr-only">Toggle navigation</span>
				</button>
				
				<span class="page-title" th:text="${pageName}">pageName</span>
				
			</nav>
		</header>
<!--</th:block>-->
</html>
