<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navbar">
    <div class="navi-wrap">
        <div class="navi-item-1">
            <div class="navi-item-2">
                <a href="routine">
                    <div class="navi-item-3">
                        <div class="navi-item-4">
                            <img src="img/icon/navbar/star.svg" class="navi-icon">
                            <p>루틴</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="navi-item-1">
            <div class="navi-item-2">
                <a href="recommend">
                    <div class="navi-item-3">
                        <div class="navi-item-4">
                            <img src="img/icon/navbar/cloud.svg" class="navi-icon cloud">
                            <p>추천</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="navi-item-1">
            <div class="navi-item-2">
                <a href="analysis">
                    <div class="navi-item-3">
                        <div class="navi-item-4">
                            <img src="img/icon/navbar/search.svg" class="navi-icon">
                            <p>분석</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="navi-item-1">
            <div class="navi-item-2">
                <a href="mypage">
                    <div class="navi-item-3">
                        <div class="navi-item-4">
                            <img src="img/icon/navbar/love.svg" class="navi-icon">
                            <p>마이페이지</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</th:block>

</html>
