<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<!-- board view -->
		<div class="content">
			<div class="card card-default">
				<div class="card-header align-items-baseline px-7">
					<h3 th:text="${boardDTO.boardTitle}">Title</h3>
					<h6 th:text="@{|${boardDTO.category} / ${#temporals.format(boardDTO.boardCreate, 'yyyy-MM-dd HH:mm')}|}">Category / Create</h6>
				</div>
				<div class="card-body">
					<p class="px-6 pb-3"th:text="@{|${boardDTO.memberNickname} / ${boardDTO.memberEmail}|}">Nickname / Email</p>
					<div class="card mb-3">
						<div class="card-body min-px-250 py-5">
							<p class="card-text" th:text="${boardDTO.boardContent}">Content</p>
						</div>
					</div>
					<!-- reply write -->
					<form th:if="${boardDTO.reply == null}" th:action="@{/admin/reply-write}" method="post" th:object="${replyWriteDTO}">
						<!-- session에서 받아온 작성자 id -->
						<input type="hidden" th:field="*{memberId}" />
						<input type="hidden" th:field="*{boardId}" />
						<div class="form-group">
							<label for="replyContent">답글 작성</label>
							<div th:each="err : ${#fields.errors('replyContent')}" class="error-message" th:text="${err}"></div>
							<textarea class="form-control min-px-150" th:field="*{replyContent}" placeholder="답글을 작성해주세요..."></textarea>
						</div>
						<div class="d-inline-flex float-right mt-4">
							<button class="btn btn-outline-brown mb-2" type="submit">작성</button>
						</div>
					</form>
					<!-- reply view -->
					<div th:if="${boardDTO.reply != null}" >
						<div class="card-header align-items-baseline px-3">
							<h6 th:text="@{|답변 완료 / ${#temporals.format(boardDTO.reply.replyCreate, 'yyyy-MM-dd HH:mm')}|}">답변 완료 / replyCreated</h6>
							<h6 class="text-transform-none" th:text="@{|${boardDTO.reply.member.nickname} / ${boardDTO.reply.member.email}|}">Nickname / Email</h6>
						</div>
						<div class="card mb-3">
							<div class="card-body min-px-250 py-5">
								<p class="card-text" th:text="${boardDTO.reply.replyContent}">Content</p>
							</div>
						</div>
					</div>
					<!-- button -->
					<div class="d-inline-flex mt-4">
						<button class="btn btn-outline-brown mb-2" type="button" th:onclick="|location.href='@{|/admin/board-list?boardCategory=${boardCategory}|}';|" >목록</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
