/*
    layout_admin.css
*/
/* 
.sidebar .sidebar-inner .section-title {
    font-size: 1rem;
}

.sidebar .sidebar-inner > li > a {
    padding: 0.5rem 1.5rem;
}
 */
 .background-color-brown {
	background-color: #876559;
 }
 .sidebar .sidebar-inner .section-title {
 	color: #fff;
 }
 .sidebar .sidebar-inner > li > a {
 	color: #fff;
 }
 .sidebar .sub-menu > li > a {
 	color: #fff;
 }

textarea {
	resize: none;
}

.min-px-150 {
	min-height: 150px;
}

.min-px-250 {
	min-height: 250px;
}

.text-transform-none {
	text-transform: none;
}

.error-message {
	font-size: 12pt;
	color: red;
	display: inline-block;
}

.hide {
	display: none;
}

#missionList td {
	vertical-align: inherit;
}

.width-50 { width: 50px; }
.width-100 { width: 100px; }
.width-115 { width: 115px; }
.width-150 { width: 150px; }
.width-200 { width: 200px; }
.width-300 { width: 300px; }

span.red {
	color: red;
}

.icon-group {
	text-align: center;
}

.icon-group img {
	width: 50pt;
}

.display-block {
	display: block;
}
.text-align-left {
	text-align: left
}
/*
brown
	color: #a38479;

body
	background-color: #f5f2f0
*/
 
body {
	background-color: #f5f2f0;
}
a {
	color: #a38479;
}
a:hover { 
	color: #a38479;
}

.btn-link {
	color: #a38479;
}
.btn-link:hover {
	color: #a38479;
}

.sidebar-footer-content {
	background-color: #a38479;
}

.table .thead-light th {
	background-color: #f5f2f0;
}

.btn-outline-brown {
	color: #a38479;
	border-color: #a38479;
}
.btn-outline-brown:hover {
	color: #ffffff;
	background-color: #a38479;
	border-color: #a38479;
}
.btn-outline-brown:focus, .btn-outline-brown.focus {
	box-shadow: 0 0 0 0.2rem rgba(158, 109, 224, 0.5);
}
.btn-outline-brown.disabled, .btn-outline-brown:disabled {
	color: #a38479;
	background-color: transparent;
}
.btn-outline-brown:not(:disabled):not(.disabled):active, .btn-outline-brown:not(:disabled):not(.disabled).active, .show > .btn-outline-brown.dropdown-toggle {
	color: #ffffff;
	background-color: #a38479;
	border-color: #a38479;
}
.btn-outline-brown:not(:disabled):not(.disabled):active:focus, .btn-outline-brown:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-brown.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(158, 109, 224, 0.5);
}




