/* layout_user */
.body-routine {
    min-width: 320px;
    min-height: 100%;
}

.container-routine{
    padding: 0 0 40pt;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 100%;
    background-color: white;
}

.flex-routine {
    position: relative;
    height: 100vh;
}

.row_routine{
    margin-right: 0;
    margin-left: 0;
}

.col-routine-1{
    flex: none;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
}

.card_routine {
    border: 0;
}

.bi-routine {
    margin-bottom: 1rem;
}

/* navbar_user */
.navi-wrap {
    display: flex;
    position: fixed;
    max-width: 500px;
    width: 100%;
    bottom: 0;
    left: auto;
    right: auto;
    background-color: #ffffff;
    border-top: 1px solid rgb(231, 231, 231);
}

.navi-item-1 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 25%;
    height: 60px;
}

.navi-item-2 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.navi-item-3 {
    display: inline-block;
    position: relative;
    width: 30px;
    margin-top: 12px;
    color: #cdcdcd;
}

.bi-routine {
    width: 27px;
}

/* profile_common */
.row-routine {
    justify-content: center;
}

.card-header-routine {
    background-color: #ffffff;
    padding: 1rem 1.875rem;
    border-bottom: 0;
}

.card-body-routine {
    position: relative;
    padding-top: 1.5625rem !important;
    padding-bottom: 0;
}

.a-routine {
    display: inline-block;
    float: right;
    margin-bottom: 0.9rem;
    vertical-align: middle;
    color: #6c757d;
}

.a-bottom-routine {
    margin-bottom: 0;
}

.bottom-routine {
    display: inline-block;
    vertical-align: middle;
}

.input_routine {
    font-size: 0.8375rem;
}

.col-routine-2 {
    text-align: center;
}

.error_routine {
    padding: 8px 0 15px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
    color: #f13d2b;
}

.mb_routine {
    margin-bottom: 0!important;
}

.middlebar-routine {
    width: .1rem;
    height: 1.6rem;
    margin: 0 1.5rem;
    background: #ccc;
    display: inline-block;
    vertical-align: middle;
}