/*
    layout_admin.css
*/
/* 
.sidebar .sidebar-inner .section-title {
    font-size: 1rem;
}

.sidebar .sidebar-inner > li > a {
    padding: 0.5rem 1.5rem;
}
 */
textarea {
	resize: none;
}

.min-px-250 {
	min-height: 250px;
}






