/*
layout_user
*/
.body-routine {
    min-width: 320px;
    min-height: 100%;
}

.container-routine{
    padding: 0 0 40pt;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 100%;
    background-color: white;
}

.flex-routine {
    position: relative;
    height: 100vh;
}

.row_routine{
    margin-right: 0;
    margin-left: 0;
}

.col-routine-1{
    flex: none;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
}

.card_routine {
    border: 0;
}

.bi-routine {
    margin-bottom: 1rem;
}

/* navbar_user */
.navi-wrap {
    display: flex;
    position: fixed;
    max-width: 500px;
    width: 100%;
    bottom: 0;
    left: auto;
    right: auto;
    background-color: #ffffff;
    border-top: 1px solid rgb(231, 231, 231);
}

.navi-item-1 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 25%;
    height: 60px;
}

.navi-item-2 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.navi-item-3 {
    display: inline-block;
    position: relative;
    width: 30px;
    margin-top: 12px;
    color: #cdcdcd;
}

.bi-routine {
    width: 27px;
}

/* profile_common */
.row-routine {
    justify-content: center;
}

.card-header-routine {
    background-color: #ffffff;
    padding: 2rem 1.875rem;
    border-bottom: 0;
}

.card-body-routine {
    position: relative;
    padding-top: 1.5625rem !important;
    padding-bottom: 0;
}

.a-routine {
    display: inline-block;
    float: right;
    margin-bottom: 0.9rem;
    vertical-align: middle;
    color: #6c757d;
}

.a-bottom-routine {
    margin-bottom: 0;
}

.bottom-routine {
    display: inline-block;
    vertical-align: middle;
}

.input_routine {
    font-size: 0.8375rem;
    border-radius: 2rem;
    margin-bottom: 36px;
}

.col-routine-2 {
    text-align: center;
}

.error_routine {
    padding: 8px 0 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
    color: #f13d2b;
}

.mb_routine {
    margin-bottom: 0!important;
}

.middlebar-routine {
    width: .1rem;
    height: 1.6rem;
    margin: 0 1.5rem;
    background: #ccc;
    display: inline-block;
    vertical-align: middle;
}

/*
image
*/
.routine-image {
    text-align: center;
    position: relative;
    top: 30%;
}

.routine-image-text {
    padding-top: 20pt;
}

/*
button
*/
.routine-btn-wrap {
    position: relative;
    top: 38%;
    /*margin: 25pt;*/
    margin: 20pt 50pt 15pt;
}

.routine-btn {
    border-radius: 2rem;
    color: #a38479;
    border-color: #a38479;
    text-align: left;
}

.routine-btn:hover {
   color: #ffffff;
   background-color: #a38479;
   border-color: #a38479;
 }

 .routine-btn2 {
     border-radius: 2rem;
     color: #ffffff;
     border-color: #a38479;
     text-align: left;
     background: #a38479;
 }

 .routine-btn2:hover {
    color: #a38479;
    background-color: #ffffff;
    border-color: #a38479;
  }

.routine-btn:focus, .routine-btn.focus {
    box-shadow: 0 0 0 0.2rem #d6cbc7;
}

.routine-btn.disabled, .routine-btn:disabled {
    color: #a38479;
    background-color: transparent;
}

.routine-btn:not(:disabled):not(.disabled):active, .routine-btn:not(:disabled):not(.disabled).active, .show > .routine-btn.dropdown-toggle {
    color: #ffffff;
    background-color: #a38479;
    border-color: #a38479;
}

.routine-btn:not(:disabled):not(.disabled):active:focus, .routine-btn:not(:disabled):not(.disabled).active:focus, .show > .routine-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #d6cbc7;
}

.routine-btn-first {
    margin-bottom: 10pt;
}

.fieldErrors {
    margin-bottom: 0;
}

/*
img
*/
.routine-img {
    text-align: center;
}

.withdraw-img {
    margin-bottom: 30pt;
}

/* pwd-find */
.pwd-title {
    text-align: center;
    margin-bottom: 30pt;
}

.pwd-img {
    margin-bottom: 1rem;
}

.pwd-element p {
    font-size: 11pt;
}


/* My Page */
.mypage-img {
   padding-bottom: 10pt;
}

.routine-title {
    font-weight: 600;
}

.routine-nickname {
    padding-top: 10pt;
    font-weight: 600;
    font-size: 0.98rem;
}

.mypage-row {
    margin-right: 5pt;
    margin-left: 5pt;
}

.mypage-list {
    flex: 0 0 100%;
    max-width: 100%;
}

.mypage-list-first {
    padding-bottom: 15pt;
}

.mypage-list h4 {
    font-weight: 600;
    margin-left: 20pt;
}

.mypage-btn-wrap {
    position: relative;
    top: 0;
    margin: 20pt 20pt 15pt;
}

.mypage-btn {
    margin-top: 0;
    margin-bottom: 10pt;
}

/* header_user_ver2 */
.header-ver2-wrap {
    display: flex;
    justify-content: right;
    padding: 1.6rem 1.6rem 0.5rem;
}

.header-element {
    padding-right: 15px;
}

/* 회원정보 수정 */
.btn-edit-left {
    width: 70pt;
}

.btn-edit-right {
    margin-left: 10pt;
    width: 70pt;
}