.error-message {
	font-size: 12pt;
	color: red;
	display: inline-block;
}

.display-block {
	display: block;
}

.icon-group {
	text-align: center;
}

.icon-group img {
	width: 100pt;
}

.modal-header {
	border: none;
}

.hide {
	display: none;
}

textarea {
	resize: none;
}

.timer {
    border-radius: 50%;
    background-color: #f8f8f8;
    width: 80%;
    /*height: 0;*/
    /*padding-bottom: 80%;*/
    margin: auto;
}

.timer img{
    width: 200px;
}

.routine-list-wrap {
    position: relative;
    top: 0;
    margin: 20pt 20pt 15pt;
    text-align: center;
}

.routine-list-wrap p {
    font-size: 0.9375rem;
}