.error-message {
	font-size: 12pt;
	color: red;
	display: inline-block;
}

.display-block {
	display: block;
}

.icon-group {
	text-align: center;
}

.icon-group img {
	width: 100pt;
}

.modal-header {
	border: none;
}

.hide {
	display: none;
}

textarea {
	resize: none;
}

.circle {
    border-radius: 50%;
    background-color: #f8f8f8;
    width: 80%;
    margin: auto;
}

.circle img{
    width: 200px;
    padding-top: 20px;
}

.list-none-content {
    margin-top: 100pt;
}

.routine-list-wrap {
    position: relative;
    top: 0;
    margin: 10pt 20pt 15pt;
    text-align: center;
}

.routine-list-wrap p {
    font-size: 0.9375rem;
}

.list-item-wrap {
    border-radius: 1.2rem;
    margin-top: 15pt;
}

.routine-list {
    margin-top: 20pt;
}

.routine-list-group {
    padding: 1.3rem;
    border-radius: 20px;
    position: relative;
}

.routine-list-group:hover {
    background-color: #f5f2f08a;
    cursor: pointer;
    z-index: 1;
}

.routine-edit {
    position: absolute;
    right: 50px;
    margin-top: 20px;
    z-index: 2;
}

.list-title {
    font-size: 1rem!important;
    color: #565a62!important;
}

.list-icon-wrap {
    text-align: right;
    margin-top: -14px;
}

.list-icon {
    width: 30px;
    filter: opacity(0.3) drop-shadow(0 0 0 #8a909d);
    cursor: pointer;
}

.list-icon:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.list-content-first {
    float: left;
    margin-bottom: 0.3125rem !important;
    color: #6c757d!important;
}

.list-content {
    float: left;
    margin-left: 4pt;
}

/* Routine Dropdown */
.routine-dropdown-menu {
    min-width: 6rem;
    font-size: 0.9rem;
    background: rgb(252, 250, 248);
    border-radius: 20px;
    transform: translate3d(-32px, -9px, 0px);
}

.routine-dropdown-item {
    color: #2f2f2f;
}

.routine-dropdown-item:hover {
    color: #a38479;
    background-color: unset;
    cursor: pointer;
}

/* Modal */
.routine-modal {
    transform: translate(0, 100%)!important;
}

.btn-brown:hover {
    color: #a38479;
    border-color: #a38479;
    background-color: #fff;
}

.btn-white {
    color: #a38479;
    border-color: #a38479;
    background-color: #fff;
}

.btn-white:hover {
    color: #fff;
    border-color: #a38479;
    background-color: #a38479;
}

/* Detail Page */
.detail-title-wrap {
    margin: 15px 20px 30px;
}

.detail-title {
    margin-bottom: 10px;
}

.detail-none-content {
    margin-top: 80pt;
}

.detail-btn-wrap {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 60pt;
}

.detail-btn {
    width: 90px;
}

.detail-btn-right {
    margin-right: 20px;
}

.routine-detail-group {
    padding: 0.5rem 0.8rem;
    background-color: #f5f2f08a;
    border-radius: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

/* mission */
.mission-wrap {
    display: flex;
}

.mission-img img {
    width: 40px;
}

.mission-content {
    margin-left: 15px;
}

.mission-runtime {
    font-size: 0.9rem;
    color: #8a909d;
    margin-right: 10px;
    line-height: 35px;
}

.mission-title {
    width: 65% !important;
    font-size: 1rem!important;
    color: #565a62!important;
    font-weight: 500;
    line-height: 35px;
}

/* mission 추가 및 수정 */
.mission-group {
    margin-top: 1rem;
}

.mission-detail-title {
    font-weight: 600;
}

.click-img {
    cursor: pointer;
}

.input-mission {
    font-size: 0.8375rem;
    border-radius: 2rem;
}

.routine-mission-wrap {
    margin-top: 2.5rem;
    margin: 20pt 25pt 35pt;
}

.routine-mission {
    margin-bottom: 2.5rem;
}