.error-message {
	font-size: 12pt;
	color: red;
	display: inline-block;
}

.display-block {
	display: block;
}

.icon-group {
	text-align: center;
}

.icon-group img {
	width: 100pt;
}

.modal-header {
	border: none;
}

.hide {
	display: none;
}

textarea {
	resize: none;
}

.timer {
    border-radius: 50%;
    background-color: #f8f8f8;
    width: 80%;
    /*height: 0;*/
    /*padding-bottom: 80%;*/
    margin: auto;
}

.timer img{
    width: 200px;
}

.none-content {
    margin-top: 100pt;
}

.routine-list-wrap {
    position: relative;
    top: 0;
    margin: 10pt 20pt 15pt;
    text-align: center;
}

.routine-list-wrap p {
    font-size: 0.9375rem;
}

.list-item-wrap {
    border-radius: 1.2rem;
    margin-top: 15pt;
}

.routine-list {
    margin-top: 20pt;
}

.routine-list-group {
    padding: 1.3rem;
}

.routine-list-group:hover {
    background-color: #f5f2f08a;
}

.list-title {
    font-size: 1rem!important;
    color: #565a62!important;
}

.list-icon-wrap {
    text-align: right;
    margin-top: -14px;
}

.list-icon {
    width: 30px;
    filter: opacity(0.3) drop-shadow(0 0 0 #8a909d);
    cursor: pointer;
}

.list-icon:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.list-content-first {
    float: left;
    margin-bottom: 0.3125rem !important;
    color: #6c757d!important;
}

.list-content {
    float: left;
    margin-left: 4pt;
}

.page-active a{
    background-color: $theme-color-2;
    color: $white;
    @include box-shadow(0 0 40px rgba(40, 125, 250, 0.1));
}

.page-active a i {
    color: $white;
}