<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="layout/layout_user_ver1">

<!-- css -->
<th:block layout:fragment="css">
	<link href="/css/routine.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="content">

	<!-- body -->
	<div class="card card-default mb-0 border-0">
		<div class="card-body px-5 pb-5 pt-0">

			<div class="detail-title-wrap">
				<h4 class="text-dark routine-title detail-title" th:text="${routineFinishDTO.routineName}"></h4>

				<!-- Mission List가 있는 경우 -->
				<th:block th:unless="${routineFinishDTO.missionList.isEmpty()}">
					<p th:text="|${#temporals.format(routineFinishDTO.startTime, 'a h:mm')} ~
					${#temporals.format(routineFinishDTO.finalTime, 'a h:mm')}
					(${#temporals.format(routineFinishDTO.totalTime, 'H시간 m분')})|"></p>
				</th:block>
			</div>

			<!-- Mission List가 있는 경우 -->
			<th:block th:each="missionReadDTO, i : ${routineFinishDTO.missionList}">
				<div class="list-group-item-action routine-detail-group">
					<div class="mission-wrap justify-content-between">
						<div>
							<div class="mission-img d-inline-block">
								<img th:src="@{|/img/icon/${missionReadDTO.iconPath}/${missionReadDTO.iconFileName}|}">
							</div>
							<div class="d-inline-block" th:text="${missionReadDTO.missionName}"></div>
						</div>
						<div class="pt-1">
							<div class="d-inline-block" th:text="${routineFinishDTO.elapsedTime[i.index]}">elapsedTime</div>
							<div class="d-inline-block small" th:style="${routineFinishDTO.remainingTime[i.index].substring(0,1) eq '-' ? 'color: red' : 'color: blue'}" th:text="|(${routineFinishDTO.remainingTime[i.index]})|">remainingTime</div>
						</div>
					</div>
				</div>
			</th:block>

			<!-- button -->
			<div class="d-flex justify-content-center mt-6 detail-btn-wrap">
				<button type="button" class="btn btn-pill btn-white detail-btn detail-btn-right"
								th:onclick="|location.href='/routine';|">완료</button>
			</div>

		</div>
	</div>
</th:block>

</html>
