<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_user_ver2">

<th:block layout:fragment="content">

	<div class="card-body px-5 pb-5 pt-0 card-body-routine">

		<h4 class="text-dark text-center mb-5 routine-title">My Routine</h4>

		<th:block th:if="${lists.isEmpty()}">

			<!-- Routine List 없는 경우 -->
			<div class="none-content">
				<div class="routine-img mypage-img">
					<img src="https://item.kakaocdn.net/do/4856d24382126429021e6246b1866c9415b3f4e3c2033bfd702a321ec6eda72c"
						 style="width: 100pt;">
				</div>

				<div class="row row-routine">
					<div class="list-group mypage-list">
						<div class="routine-list-wrap">
							<p class="card-text pt-1">루틴이 없습니다</p>
							<p class="card-text pb-4 pt-1">간단한 루틴부터 시작해보세요!</p>
							<button type="button" class="btn btn-outline-primary btn-pill mt-1 mb-4"
									onclick="location.href='/routine-add'">루틴 추가하기</button>
						</div>
					</div>
				</div>
			</div>

		</th:block>


		<th:block th:unless="${lists.isEmpty()}">

			<!-- Routine List 있는 경우 -->
			<div class="list-icon-wrap">
				<a href="routine-add">
					<img src="img/icon/black-icon/write.png" class="list-icon">
				</a>
			</div>

			<th:block th:each="dto, loop : ${lists}">
				<div>
					<div class="list-group list-item-wrap routine-list">
						<div class="list-group-item list-group-item-action routine-list-group"
							 th:onclick="@{|location.href='/routine-detail?routineId=${dto.routineId}';|}">
								<div class="d-flex w-100 justify-content-between">
									<p class="mb-1 list-title" th:text="${dto.routineName}">Routine Name</p>
								</div>
								<p class="list-content-first"
									th:text="${#temporals.format(dto.startTime, 'a hh:mm')}">오전10:00</p>
								<p class="list-content" th:text="${dto.weekList}">(매일)</p>
								<p class="list-content" th:text="${dto.routineActive ? '(ON)' : '(OFF)'}">(ON)</p>
						</div>
						<div class="routine-edit">
							<div class="dropdown d-inline-block mb-1">
								<img src="img/icon/black-icon/listmenu.png" class="list-icon"
									 type="button" id="dropdownMenuButton" data-toggle="dropdown"
									 aria-haspopup="true" aria-expanded="false" data-display="static">
								</button>
								<div class="dropdown-menu routine-dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item routine-dropdown-item" id="switch-active" href="routine-list">비활성</a>
									<input type="hidden" id="routineActive">
									<a class="dropdown-item routine-dropdown-item" th:href="@{|/routine-edit?routineId=${dto.routineId}|}">수정</a>
									<a class="dropdown-item routine-dropdown-item" href="#">삭제</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>

		</th:block>

	</div>

</th:block>

</html>
