<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="layout/layout_user_ver1">

<!-- css -->
<th:block layout:fragment="css">
	<link href="/css/routine.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="content">
	<!-- body -->
	<div class="card card-default mb-0 border-0">
		<!-- mission name -->
		<div class="card-header justify-content-center pb-0">
			<h1 class="text-dark mb-6 text-center" id="missionName" th:text="${missionStartDTO.missionName}">MissionName</h1>
		</div>
		<!-- icon / timer / runtime -->
		<div class="card-body text-center px-5 pb-5 pt-0">
			<div class="card py-3 mb-4 border-0">
				<div class="circle">
					<img th:src="@{|/img/icon/${missionStartDTO.iconPath}/${missionStartDTO.iconFileName}|}" class="justify-content-center mt-3" id="img">
					<p class="card-text h2 pb-4 pt-1" id="timer"
						 th:text="${missionStartDTO.runTime.toString().substring(0,2).equals('00')
						 ? #temporals.format(missionStartDTO.runTime, 'mm:00')
						 : #temporals.format(missionStartDTO.runTime, 'HH:mm:00')}">timer</p>
					<p class="card-text pb-4 pt-1 mb-3" id="runTimeStr"
						 th:text="${missionStartDTO.runTime.toString().substring(0,2).equals('00')
						 ? #temporals.format(missionStartDTO.runTime, 'mm분')
						 : #temporals.format(missionStartDTO.runTime, 'HH시간mm분')}">runTime</p>
					<input type="hidden" id="runTime" name="runTime" th:value="${missionStartDTO.runTime}">
				</div>
			</div>
			<!-- button -->
			<form th:action="@{/routine-finish}" method="post" id="form" name="form">
				<div class="d-flex justify-content-center mt-6 mx-6">
					<button class="btn btn-outline-primary btn-pill mb-2" type="button" id="btn">시작</button>
					<input type="hidden" id="routineId" name="routineId" th:value="${missionStartDTO.routineId}">
					<input type="hidden" id="nextMissionId" th:value="${missionStartDTO.nextMissionId}">
				</div>
			</form>
			<!-- next mission -->
		</div>
	</div>
</th:block>

<!-- script -->
<th:block layout:fragment="script">
	<script src="/js/routine/routine_start.js"></script>
</th:block>

</html>