<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="layout/layout_user_ver1">

<!-- css -->
<th:block layout:fragment="css">
	<link href="/css/routine.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="content">
	<!-- body -->
	<div class="card card-default mb-0 border-0">
		<th:block th:each="mission : ${routineDTO.missionList}">
			<div class="card-header justify-content-center pb-0">
				<h1 class="text-dark mb-6 text-center">Routine Start</h1>
			</div>
			<div class="card-body px-5 pb-5 pt-0">
					<div class="timer align-items-center">
						<img th:src="@{|/img/icon/${mission.missionIcon.iconCategory.iconPath}/${mission.missionIcon.iconFileName}|}">
					</div>
					<div class="card py-3 mb-4 border-0">
						<div class="card-body text-center ">
							<p class="card-text pb-4 pt-1">루틴이 없습니다</p>
							<p class="card-text pb-4 pt-1">간단한 루틴부터 시작해보세요!</p>
							<button type="button" class="btn btn-outline-primary btn-pill mt-1 mb-4" onclick="location.href='/routine-add'">루틴 추가하기</button>
						</div>
					</div>
			</div>
		</th:block>
	</div>
</th:block>

<!-- script -->
<th:block layout:fragment="script">
	<script>
		$(function() {
			let index =

			$('#start').click(function() {
				time = 10

				//setInterval(함수, 시간) : 주기적인 실행
				let timer = setInterval(function() {
					//parseInt() : 정수를 반환
					min = parseInt(time/60); //몫을 계산
					sec = time%60; //나머지를 계산

					document.getElementById("demo").innerHTML = min + "분" + sec + "초";
					time--;

					//타임아웃 시
					if (time < 0) {
							clearInterval(timer); //setInterval() 실행을 끝냄
							document.getElementById("demo").innerHTML = "시간초과";
					}
				}, 1000);
			})
		})
	</script>
</th:block>

</html>