<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_admin">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<div class="content">
			<div class="card card-default">
				<div class="card-body">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="width-100">No.</th>
                <th scope="col">Title</th>
                <th scope="col" class="width-200">Created</th>
                <th scope="col" class="width-100">Hits</th>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${lists.isEmpty()}">
                  <td colspan="4" align="center">글이 존재하지 않습니다.</td>
              </tr>
              <tr th:each="dto, loop : ${lists}">
                <td scope="row" th:text="${lists.totalElements - (lists.number * lists.size) - loop.index}">No</td>
                <td>
                  <a class="btn btn-link text-transform-none px-0 py-0" th:href="@{|/admin/board-detail?boardId=${dto.boardId}|}" th:text="${dto.boardTitle }">Title</a>
                </td>
                <td th:text="${#temporals.format(dto.boardCreate, 'yyyy-MM-dd HH:mm')}">Create</td>
                <td th:text="${dto.boardHits}">Hits</td>
              </tr>
            </tbody>
          </table>
					<nav th:if="${!lists.isEmpty()}" arial-label="Page navigation">
						<ul class="pagination justify-content-center pagination-sm"
								th:with="startNumber = ${lists.number / 10} * 10 + 1, endNumber = (${lists.totalPages} > ${startNumber + 9}) ? ${startNumber + 9} : ${lists.totalPages}">
							<!-- << -->
							<li><a class="page-link" th:href="@{|?boardCategory=${boardCategory}&page=1|}">&laquo;</a></li>
							<!-- < -->
							<li class="page-item" th:style="${lists.first} ? 'display:none'">
								<!-- <a class="page-link" th:href="@{/question/list(page = ${paging.number})}">&lsaquo;</a> -->
								<a class="page-link" th:href="@{|?boardCategory=${boardCategory}&page=${lists.number}|}">&lsaquo;</a>
							</li>
							<li class="page-item" th:each="page : ${#numbers.sequence(startNumber, endNumber)}" th:classappend="(${page} == ${lists.number + 1}) ? 'active' : null">
								<a class="page-link" th:href="@{|?boardCategory=${boardCategory}&page=${page}|}" th:text="${page}"></a>
							</li>
							<!-- > -->
							<li class="page-item" th:style="${lists.last} ? 'display:none'">
								<a class="page-link" th:href="@{|?boardCategory=${boardCategory}&page=${lists.number + 2}|}">&rsaquo;</a>
							</li>
							<!-- >> -->
							<li><a class="page-link" th:href="@{|?boardCategory=${boardCategory}&page=${lists.totalPages}|}">&raquo;</a></li>
						</ul>
					</nav>
					<div class="d-flex justify-content-end mt-6">
						<button class="btn btn-outline-brown mb-2" type="button" th:onclick="|location.href='@{|/admin/board-write?boardCategory=${boardCategory}|}';|">글 작성</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
