<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_nav_user">

<!-- css -->
<th:block layout:fragment="css">
	<link href="/css/routine.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="content">
	<!-- body -->
	<div class="card card-default mb-0 border-0">
		<div class="card-header pb-0">
			<h3 class="text-dark mb-6 text-center">Routine List</h3>
		</div>
		<div class="card-body px-5 pb-5 pt-0">
			<div style="text-align: center;">
				<img src="https://item.kakaocdn.net/do/4856d24382126429021e6246b1866c9415b3f4e3c2033bfd702a321ec6eda72c" style="width: 100pt;">
			</div>
			<div class="row">
				<div class="col">
					<div class="card py-3 mb-4 border-0">
						<div class="card-body text-center ">
							<p class="card-text pb-4 pt-1">루틴이 없습니다</p>
							<p class="card-text pb-4 pt-1">간단한 루틴부터 시작해보세요!</p>
							<button type="button" class="btn btn-outline-primary btn-pill mt-1 mb-4" onclick="location.href='/routine-add'">루틴 추가하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>
