<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_nav_user">

<!-- css -->
<th:block layout:fragment="css">
	<link href="/css/routine.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="content">
	<!-- body -->
	<div class="card card-default mb-0 border-0">
		<div class="card-header pb-0">
			<h3 class="text-dark mb-6 text-center">Routine Add</h3>
		</div>
		<div class="card-body px-5 pb-5 pt-0">
			<form action="" method="post" th:object="${routineAddDTO}">
				<!-- name -->
				<div class="form-group">
					<label for="routineName">루틴명</label>
					<input type="text" class="form-control" th:field="*{routineName}">
				</div>
				<!-- week -->
				<div class="form-group mb-4">
					<label for="week">요일 설정</label>
					<button type="button" class="mb-1 btn btn-outline-primary btn-pill">일</button>
					<button type="button" class="mb-1 btn btn-outline-primary btn-pill">월</button>
					<button type="button" class="mb-1 btn btn-outline-primary btn-pill">일</button>
					<button type="button" class="mb-1 btn btn-outline-primary btn-pill">일</button>
					<button type="button" class="mb-1 btn btn-outline-primary btn-pill">일</button>
					<button type="button" class="mb-1 btn btn-outline-primary btn-pill">일</button>
					<button type="button" class="mb-1 btn btn-outline-primary btn-pill">일</button>
					<input type="hidden" class="form-control" th:field="*{week}">
					<input type="hidden" class="form-control" th:field="*{week}">
					<input type="hidden" class="form-control" th:field="*{week}">
					<input type="hidden" class="form-control" th:field="*{week}">
					<input type="hidden" class="form-control" th:field="*{week}">
					<input type="hidden" class="form-control" th:field="*{week}">
					<input type="hidden" class="form-control" th:field="*{week}">
				</div>
				<!-- content -->
				<div class="form-group">
					<label for="boardCont ent">내용</label>
					<div th:each="err : ${#fields.errors('boardContent')}" class="error-message" th:text="${err}"></div>
					<textarea class="form-control min-px-250" th:field="*{boardContent}"></textarea>
				</div>
				<!-- button -->
				<div class="d-flex justify-content-between mt-6">
					<button class="btn btn-outline-brown mb-2" type="button" th:onclick="|location.href='@{|/admin/board-list?boardCategory=${boardCategory}|}';|" >목록</button>
					<button class="btn btn-outline-brown mb-2" type="submit">완료</button>
				</div>
			</form>
		</div>
	</div>
</th:block>

</html>
