<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-/mybatis.org//DTD mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soo.routine.mapper.BoardMapper">

	<update id="updateHits" parameterType="int">
		update board set board_hits = board_hits + 1 where board_id = #{boardId}
	</update>

</mapper>
