<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-/mybatis.org//DTD mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soo.routine.mapper.ReplyMapper">

	<sql id="maxNum">
		select nvl(max(replyNum), 0) + 1 from reply
	</sql>

	<select id="getList" resultType="com.soo.routine.domain.Reply">
		select * from reply
	</select>

	<insert id="createData" parameterType="com.soo.routine.domain.Reply">
		create into reply(replyNum, memberNum, boardNum, replyContent, replyCreated)
			values((<include refid="maxNum"/>), #{memberNum#}, #{boardNum}, #{replyContent}, sysdate)
	</insert>

	<select id="getData" resultType="com.soo.routine.domain.Reply" parameterType="int">
		select * from reply where replyNum = #{replyNum}
	</select>

</mapper>
