<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-/mybatis.org//DTD mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soo.routine.mapper.RoutineMapper">

	<sql id="maxNum">
		select nvl(max(routineNum), 0) + 1 from routine
	</sql>

	<select id="getList" resultType="com.soo.routine.domain.Routine" parameterType="int">
		select * from routine where memberNum = #{memberNum}
	</select>

	<insert id="createData" parameterType="com.soo.routine.domain.Routine">
		insert into routine(routineNum, memberNum, routineName, active, totalTime)
			values((<include refid="maxNum"/>), #{memberNum}, #{routineName}, true, 0)
	</insert>

	<select id="getData" resultType="com.soo.routine.domain.Routine" parameterType="int">
		select * from routine where routineNum = #{routineNum}
	</select>

	<update id="updateData">

	</update>

	<delete id="deleteData">

	</delete>


</mapper>
